*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    margin-top: 50px;
}
.hidden{
    display: none;
}
  body{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
              height: 100vh;
              background-color: #34348f;
        }
        form{
            width: 500px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            background-color: white;
            width: 350px;
        }
        input{
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            box-sizing: border-box;
            font-style: italic;
            border-radius: 15px;
        }
button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-size: 0.65rem;
    color: red;
    text-align: left;
    margin-left: 20px;
    font-style: italic;
    padding:5px;
}
.form{
     width: 500px;
    padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: white;
    width: 350px;
}
.welcome{
font-size: 1.3rem;
}

.logo{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: blue;
}
.logo i{
    font-size: 60px;
    color: white;
    line-height: 100px;
}
